<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="flex flex-row gap-20 w-full fixed top-0 left-0 px-5 py-3 bg-blue-100">
        <div class="justify-center flex flex-row gap-20 w-full">
            <a class="hover:bg-blue-300 px-5 rounded-md" href="">Shop</a>
            <a class="hover:bg-blue-300 px-5 rounded-md" href=" /users/logout">Logout</a>
            <a class="hover:bg-blue-300 px-5 rounded-md" href="/cart">Cart</a>
            <a class="hover:bg-blue-300 px-5 rounded-md" href="">My Account</a>
        </div>
    </nav>

</body>